.App {
  text-align: center;
}

.smurf-group {
  display: flex;
  flex-flow: row wrap; 
  justify-content: center;
  align-items: center;
}

.smurf {
  background-color: rgb(74, 210, 228);
  width: 10rem;
  height: 10rem;
  text-align: center;
  border-radius: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem;
  margin: 1rem;
}

.smurf-name h2 {
  color: rgb(39, 39, 230);
}
